---
type Props = {
  pages: number,
  page: number,
  searchParams: string,
  pathname: string
}

const {pages, page, searchParams, pathname} = Astro.props;

const newSearchParams = new URLSearchParams(searchParams)
---

<div class="flex flex-row gap-2 col-span-full col-start-1 lg:col-start-2 place-content-center">
      {new Array(pages).fill(null).map((x, i) => {
        const distance = Math.abs(page - i);

        if (distance === 3) return <span class="px-1 text-text">...</span>;
        if (distance > 3) return null;

        const pageParam = newSearchParams
        pageParam.set("page", String(i))

        return (
          <a
          href={`${pathname}?${newSearchParams.toString()}`}
            style={`background-color: ${page === i && "#333"}; color: ${page === i && "#eee"}`}
            class="px-3 py-1 cursor-pointer hover:bg-light-neutral transition-all" 
          >
            {i + 1}
          </a>
        );
      })}
</div>

