<div class="flex flex-row gap-2 col-span-full col-start-1 lg:col-start-2 place-content-center">
      {new Array(10).fill(null).map((x, i) => {

        
        return (
          <div
            class="bg-skeleton w-7 h-7 animate-pulse rounded-full"
          >
          </div>
        );
      })}
    </div>