---
import Internship from "../../components/internship/internship.astro";
import Layout from "../../layouts/Layout.astro";

const {id} = Astro.params
---
<Layout>
    <section class="container">
        <Internship id={id} server:defer>
            <div slot="fallback">Loading</div>
        </Internship>
    </section>
</Layout>