---
import Internship from "../../components/internship.astro";
import Layout from "../../layouts/Layout.astro";

const {id} = Astro.params
---
<Layout>
    <Internship id={id} server:defer>
        <div slot="fallback">Loading</div>
    </Internship>
</Layout>