---
import Filter from "../../components/filter.astro";
import Internships from "../../components/internships.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <main>
        <section class="flex flex-col gap-10">
      <Filter />
      
       <Internships server:defer>
        <div slot="fallback">Loading</div>
       </Internships>
    </section>
    </main>
</Layout>