---
import Layout from "../../layouts/Layout.astro";
import Filter from "../../components/internship/filter";
import FilterSkeleton from "../../components/internship/filterSkeleton.astro"
import Internships from "../../components/internship/internships.astro";
import InternshipsSkeleton from "../../components/internship/internshipsSkeleton.astro";
import { PARAMS } from "../../constants/params";
import Warning from "@/components/ui/warning"

const searchParams = Astro.url.searchParams
const pathname = Astro.url.pathname

const params = Object.fromEntries(PARAMS.map((key) => [key, searchParams.get(key)]));

const filteredParams = {...params, careers: params?.careers?.split(",") ?? [], page: params?.page ? Number(params?.page) : 0}
---

<Layout>
    <section class="container min-h-dvh mt-5 mb-20">
            <div class="flex flex-row items-center gap-3 md:gap-5 mb-10">
                <div class="h-32 md:h-25 w-1 bg-primary-hover rounded-full"></div>
                <div >
                    <h2 class="title-lg mb-4">Pasantías disponibles</h2>
                    <Warning title="Por el momento solo hay pasantías de la UTN FRC" client:load/>
                </div>  
            </div>
            <div class="grid lg:grid-cols-5 grid-cols-3 gap-10">

                <Filter filter={filteredParams} client:only>
                    <FilterSkeleton slot="fallback"/>
                </Filter>
                
                <Internships searchParams={searchParams.toString()} pathname={pathname} params={filteredParams} server:defer>
                        <InternshipsSkeleton slot="fallback"/>
                </Internships>
            </div>
    </section>
</Layout>