---
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/alert/alert";
import userService from "../../services/user.service";

const { isAuthenticated} = Astro.locals.auth()
const loggedUser = await Astro.locals.currentUser()

if (!loggedUser || !isAuthenticated) {
    Astro.redirect("/")
}

const userId = loggedUser?.id
const user = await userService.getUser(userId) ?? undefined
const internships = await userService.getUserNotifications(userId)
---

<Layout>
    <section class="container mt-5">
        <div class="flex flex-row items-center gap-5 mb-10">
                <div class="h-32 md:h-24 w-1 bg-primary-hover rounded-full"></div>
                <div >
                    <h2 class="title-lg">Alertas</h2>
                    <p class="text-text/50 max-w-prose">Administre sus criterios para notificar ante nuevas pasantías mediante Mail.</p>
                    
                </div>  
        </div>

        <Alert user={user} internships={internships} client:load/>
    </section>
</Layout>