---
import TermsLayout from "./termsLayout.astro";
---

<TermsLayout>
  <div class="bg-light-neutral p-10 rounded-xl w-full h-fit">
    <h1 class="title-lg">Términos y Condiciones de Uso</h1>
    <p class="text-text/75">Última actualización: 30 Abril 2026</p>
    <div>
      <h2 class="title-sm">Introducción</h2>

      <div class="flex flex-col gap-5">
        <p class="text-text max-w-prose">
          Le damos la bienvenida a "BuscoPasantías". Las presentes condiciones
          rigen el uso de la aplicación anunciada, una plataforma diseñada para
          facilitar la búsqueda y gestión de oportunidades de pasantías, y
          constituyen un acuerdo entre usted y la entidad y establecen derechos
          de terceros y propiedad de la información.
        </p>
        <p>
          Al acceder o utilizar cualquier parte de nuestro sitio, incluso a
          través de una API, usted acepta regirse por las Condiciones vigentes
          en ese momento con la entidad, que se establecen a continuación. Si no
          está de acuerdo, no puede acceder ni utilizar nuestro sitio.
        </p>
      </div>
    </div>
  </div>
</TermsLayout>
