---
import Layout from "@/layouts/Layout.astro";
import CollapsibleIndex from "@/components/termsAndConditions/collapsibleIndex";

const PREFIX = "/terminos-y-condiciones/";
const pathname = Astro.originPathname;
const currentURI = pathname.split("/").at(2) ?? "";
---

<Layout
  title="Términos y Condiciones | BuscoPasantías"
  description="Términos y condiciones de uso de la aplicación BuscoPasantías"
>
  <main
    class="container flex flex-col md:flex-row gap-5 leading-relaxed w-full mb-10 mt-10"
  >
    <CollapsibleIndex prefix={PREFIX} currentURI={currentURI} client:only>
      <div class="bg-light-neutral rounded-xl w-80" slot="fallback"></div>
    </CollapsibleIndex>
    <slot />
  </main>
</Layout>
