/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Space+Grotesk:wght@300..700&display=swap");
/* Tailwind init */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-display: "Newsreader", serif;
  --font-text: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-neutral: #141414;
  --color-light-neutral: #202020;
  --color-skeleton: var(--color-neutral-600);
  --color-text: #dcdcdc;
  --color-light-text: #ccc;
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: #a9a9a9;
  --color-tertiary: #eddbd2;
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: #6b2c2c;
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: #0033ff;
  --color-primary-hover: #009dff;
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius: 10px;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

* {
  box-sizing: border-box;
}

html {
  @apply scroll-smooth overflow-y-scroll font-text text-text bg-neutral;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

p,
span {
  @apply font-text;
}

a,
button,
input,
select,
textarea {
  @apply font-label cursor-pointer;
}

input,
textarea,
select {
  @apply rounded-md;
}

input,
select {
  @apply px-3 py-1 font-light text-text;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  @apply relative text-light-neutral border border-light-neutral w-6 h-6 checked:before:content-[''] checked:before:absolute checked:before:left-1/2 checked:before:top-1/2 checked:before:w-4 checked:before:h-4 checked:before:bg-primary-hover checked:before:-translate-x-1/2 checked:before:-translate-y-1/2;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  border-radius: var(--radius-sm);
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

*:disabled,
*[aria-disabled="true"] {
  @apply text-text/50! pointer-events-none!;
}

.border {
  @apply border border-light-neutral;
}

.container {
  @apply max-w-[95dvw] sm:max-w-[1000px] 2xl:max-w-[1280px]  mx-auto;
}

.bg-grid {
  @apply bg-neutral;
  background-image: linear-gradient(rgba(58, 55, 48, 0.25) 1px, transparent 1px), linear-gradient(90deg, rgba(58, 55, 48, 0.25) 1px, transparent 1px);
  background-size: 48px 48px;
}

.title-2xl {
  @apply text-5xl md:text-7xl font-bold mb-14;
}

.title-xl {
  @apply text-5xl md:text-6xl font-bold mb-12;
}

.title-lg {
  @apply text-4xl font-bold mb-6;
}

.title-md {
  @apply text-3xl font-bold mb-4;
}

.title-sm {
  @apply text-2xl font-semibold mb-3;
}

.button {
  @apply rounded-full px-4 py-2 flex flex-row gap-4 items-center w-fit;
}

.button-primary {
  @apply bg-primary text-text hover:bg-primary-hover transition-all;
}

.button-primary[aria-disabled="true"],
.button-primary[disabled="true"] {
  @apply bg-primary/25 text-text/50;
}

.button-white {
  @apply bg-text text-neutral hover:bg-primary hover:text-text transition-all;
}

.button-outline {
  @apply bg-none border border-text hover:bg-text hover:text-neutral transition-all;
}

.button-outline[aria-disabled="true"],
.button-outline[disabled="true"] {
  @apply border-text/25 text-text/50 hover:bg-transparent;
}

.nav-link {
  @apply hover:text-primary-hover transition-all;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch .switch-button {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-button[aria-checked="true"] + .switch-slider {
  background-color: #2196f3;
}

.switch-button:focus + .switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch-button[aria-checked="true"] + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-slider.round {
  @apply rounded-full;
}

.switch-slider.round:before {
  @apply rounded-full;
}

.horizontal-scroll {
  @apply overflow-x-auto;
}

.horizontal-scroll::-webkit-scrollbar {
  @apply w-2;
}

.horizontal-scroll::-webkit-scrollbar-track {
  @apply bg-neutral-700 rounded-full;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  @apply bg-text/50 rounded-full;
}

/* Hover en el desplazador */
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-text/40;
}

/* lmfao gtfo white theme */
:root {
  /* --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}
