---
import Layout from '../layouts/Layout.astro';

const user = await Astro.locals.currentUser()
const name = user?.fullName
---

<Layout>
	<main>
		<section>
			<div class="mb-5">
				<h1 class="text-3xl ">UTN REP PASANTIAS</h1>
				{
					user && <p>¡Bienvenido {name}!</p>
				}
			</div>
			<a href="/internships" class="bg-stone-500 text-[#eee] px-10 py-2 rounded-full">
				Ver pasantías
			</a>
		</section>
	</main>
</Layout>
