---

import Layout from '../layouts/Layout.astro';
import prisma from '../lib/prisma';

const interships = await prisma.intership.findMany();
---

<Layout>
	{
		interships.map((intership) => (
			<div>
				{
					intership.id
				}
			</div>
		))
	}
</Layout>
