---
import Layout from '../layouts/Layout.astro';
import { MoveRight } from "@lucide/astro";

const user = await Astro.locals.currentUser()
const name = user?.fullName
---

<Layout>
	<div class="bg-grid h-dvh pt-20">
		<div class="container">
			<section>
					<div class="text-primary-hover mb-5">
						<p>ESTADO: {
								user ? "SESIÓN INICIADA" : "SIN INICIAR SESIÓN"}</p>
					</div>
				<div class="mb-5">
						<h1 class="title-xl">BuscoPasantías</h1>
						<div class="max-w-prose">
							{
								user &&
								<p class="text-light-text">¡Bienvenido/a <span class="text-primary-hover">{name}</span>!</p>
							}
		
							<p>
								Explora y encontra pasantías de la Universidad Tecnológica Nacional de Argentina para así ganar experiencia y expandir tu horizonte.
							</p>
						</div>
				</div>
		
				<a href="/internships" class="button button-primary ">
					<span>Ver pasantías</span> <span><MoveRight class="w-5" /></span>
				</a>
			</section>
		</div>
	</div>
</Layout>
