---
import Layout from '../layouts/Layout.astro';
import { Bell, MoveRight } from "@lucide/astro";
import pasantias from "../images/pasantias.png"
import { Image } from 'astro:assets';

const user = await Astro.locals.currentUser()
const name = user?.fullName
---

<Layout>
	<div class="bg-grid min-h-dvh pt-20">
		<div class="container flex flex-col lg:gap-30 h-full">
			<div class="flex flex-col md:flex-row items-center">
				<section class="h-full">
					<div class="text-primary-hover mb-5">
							<p>ESTADO: {
									user ? "SESIÓN INICIADA" : "SIN INICIAR SESIÓN"}</p>
					</div>
					<div class="mb-5">
							<h1 class="title-xl">BuscoPasantías</h1>
							<div class="max-w-prose">
								{
									user &&
									<p class="text-light-text">¡Bienvenido/a <span class="text-primary-hover">{name}</span>!</p>
								}
			
								<p>
									Explora y encontra pasantías de la Universidad Tecnológica Nacional de Argentina para así ganar experiencia y expandir tu horizonte.
								</p>
							</div>
					</div>
			
					<a href="/internships" class="button button-primary ">
						<span>Ver pasantías</span> <span><MoveRight class="w-5" /></span>
					</a>
				</section>
				<div>
					<Image src={pasantias} alt="BuscoPasantias" class="w-100" />
				</div>
			</div>
			<!-- <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
				<div class="flex flex-col bg-light-neutral/60 backdrop-blur-2xl rounded-xl text-left md:text-center py-10 px-10 text-3xl">
					<span class="font-bold">+50</span> <span class="font-light">Pasantías</span>
				</div>
				<div class="flex flex-col bg-light-neutral/60 backdrop-blur-2xl rounded-xl text-left md:text-center py-10 px-10 text-3xl">
					<span class="font-bold">1</span> <span class="font-light">Universidad/es</span>
				</div>
				<div class="flex flex-col gap-2 justify-start md:justify-center items-center bg-light-neutral/60 backdrop-blur-2xl rounded-xl text-left md:text-center py-10 px-10">
					<Bell class="font-extrabold" stroke-width="3px"/>
					<span class="text-3xl font-light">Alertas</span>
				</div>
			</div> -->
		</div>
	</div>
</Layout>
