---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<div>
			<h1 class="text-3xl mb-5">UTN REP | Pasantías</h1>
			<a href="/internships" class="border px-4 py-2 rounded-full">
				Ver pasantías
			</a>
		</div>
	</main>
</Layout>
