---
import Card from "../components/card.astro"
import internshipService from "../services/internship.service"

const internships= await internshipService.getInternships()

---
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3">
    {
        internships?.map((internship) => (
            <Card internship={internship} />
        ))
    }
</section>