---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Términos y Condiciones | BuscoPasantías">
  <main class="container flex flex-col gap-10 bg-light-neutral p-10 rounded-xl leading-relaxed w-fit">
    <div>
        <h1 class="title-lg">Términos y Condiciones de Uso</h1>
        <p class="text-text max-w-prose">Estos términos y condiciones rigen el uso de la aplicación "BuscoPasantías", una plataforma diseñada para facilitar la búsqueda y gestión de oportunidades de pasantías.</p>
    </div>

    <div>
        <h2 class="title-sm">1. Información Obtenida mediante Web Scraping</h2>
        <p class="text-text max-w-prose">La aplicación "BuscoPasantías" recopila información sobre pasantías a través de técnicas de web scraping. 
            <br>Toda la información obtenida proviene de fuentes de acceso público y se utiliza únicamente con fines informativos. Los usuarios reconocen y aceptan que esta información es de dominio público y no infringe derechos de propiedad intelectual de terceros.</p>
    </div>

    <div>
        <h2 class="title-sm">2. Alertas y Promociones</h2>
        <p class="text-text max-w-prose">Al iniciar sesión en la aplicación, los usuarios aceptan recibir alertas sobre pasantías que puedan ser de su interés, siempre y cuando hayan configurado sus preferencias correspondientes. Además, los usuarios podrán recibir otras promociones y comunicaciones relacionadas con la plataforma. Los usuarios pueden optar por no recibir estas comunicaciones en cualquier momento ajustando sus configuraciones de cuenta.</p>
    </div>

    <div>
        <h2 class="title-sm">3. Propiedad del Proyecto</h2>
        <p class="text-text max-w-prose">"BuscoPasantías" es un proyecto cuyo código fuente es de acceso público y está disponible bajo una licencia abierta. Sin embargo, la publicación, distribución y uso comercial de la aplicación están limitados. Cualquier uso no autorizado está prohibido.</p>
    </div>

    <div>
        <h2 class="title-sm">4. Responsabilidades del Usuario</h2>
        <p class="text-text max-w-prose">Los usuarios son responsables de proporcionar información veraz y actualizada al registrarse y utilizar la aplicación. Asimismo, se comprometen a no utilizar la plataforma para fines ilícitos o que violen los derechos de terceros.</p>
    </div>

    <div>
        <h2 class="title-sm">5. Modificaciones a los Términos</h2>
        <p class="text-text max-w-prose">Estos términos y condiciones pueden ser modificados en cualquier momento. Los cambios serán notificados a través de la aplicación o por correo electrónico. El uso continuado de la plataforma implica la aceptación de los términos actualizados.</p>
    </div>

    <div>

        <h2 class="title-sm">6. Contacto</h2>
        <p class="text-text max-w-prose">Para cualquier consulta relacionada con estos términos y condiciones, puede contactar a Agustín Musumeci a través de los canales proporcionados en la aplicación.</p>
    </div>

    <div>
        <p class="text-text/75">Última actualización: Abril 2026</p>
    </div>
  </main>
</Layout>