<div class="flex flex-row gap-4 items-center">
    <div class="bg-skeleton animate-pulse w-30 h-9 rounded-full"></div>           
    <div class="bg-skeleton animate-pulse w-30 h-9 rounded-full"></div>           
</div>	