    <div class="flex flex-col gap-5 mt-5 mx-2">
        <!-- A.R.M line -->
        <p class=" bg-gray-300 w-fit rounded animate-pulse text-transparent">
          A.R.M XX/XX
        </p>
        <!-- Position line -->
        <p class=" bg-gray-300 rounded animate-pulse text-transparent">
          Loading position
        </p>
        <!-- Careers -->
    </div>