---
import internshipService from "../services/internship.service";
import Card from "./card.astro";

const {careers=[], text="", time=""} = Astro.props;

const internships = await internshipService.getInternships(careers, text, time)
---
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 items-stretch">
    {internships?.map((internship) => (
        <Card
            internship={internship}
        />
    ))}
</div>