---
import InternshipSkeleton from "@/components/internship/internshipSkeleton.astro";
import Internship from "../../components/internship/internship.astro";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
---
<Layout title={`Pasantia ${id} | BuscoPasantías`}>
    <section class="container mb-10">
        <Internship id={id} server:defer>
            <InternshipSkeleton slot="fallback"/>
        </Internship>
    </section>
</Layout>