---
const {text, color="#999", bg="#191919"} = Astro.props;
---
<p
    class="px-4 py-1 rounded-sm bg-neutral border border-muted"
    style={`color: ${color}; background-color: ${bg}`}
>
    {text}
</p>