---

export const prerender = true

export interface CareersProps  {
    careers: Array<{id: string, name: string, color: string} | null>
}

const {careers = 2} = Astro.props as CareersProps;
---

<div class="flex flex-row gap-2" aria-hidden="true">
    {new Array(careers).fill(null).map(() => (
        <div
    
            class="px-2 py-1 bg-neutral-600 animate-pulse text-transparent rounded-sm"
        >
            Loading careers
        </div>
    ))}
</div>