---
import CareerBadge from "./careerBadge.astro";

 export const prerender = true
export interface CareersProps  {
    careers: Array<{id: string, name: string, color: string} | null>
}

const {careers = []} = Astro.props as CareersProps;
---

<div class="flex flex-row truncate gap-2">
    {careers.map((career) => (
       <CareerBadge text={career?.name} color={career?.color}/>
    ))}
    {careers.length === 0 && <CareerBadge text="Desconocida"/>}
</div>