---
 export const prerender = true
export interface CareersProps  {
    careers: Array<{id: string, name: string, color: string} | null>
}

const {careers = []} = Astro.props as CareersProps;
---

<div class="flex flex-row truncate gap-2">
    {careers.map((career) => (
        <p
            class="rounded-lg px-2 py-1"
            style={`background-color: ${career?.color};`}
        >
            {career?.name}
        </p>
    ))}
</div>