---
import CareersSkeleton from "../career/careersSkeleton.astro";
---

<div class="w-full h-fit bg-light-neutral animate-pulse block" aria-hidden="true">
    <article class="h-full flex flex-col gap-2 p-4 ">
        <!-- A.R.M line -->
        <span class=" bg-neutral-600 w-fit animate-pulse text-transparent">
          A.R.M XX/XX
        </span>
        <!-- Position line -->
        <span class="text-2xl font-semibold bg-neutral-600 animate-pulse text-transparent mb-7">
          Loading position
        </span>
        <!-- Careers -->
       <CareersSkeleton careers={2}/>
    </article>
</div>