---
import CareersSkeleton from "../career/careersSkeleton.astro";
---
<div class="flex flex-col md:flex-row gap-5 mt-5 text-transparent!">
    <div class="flex flex-col gap-3 w-full" aria-hidden="true">
            <div class="mb-3 flex flex-col gap-2 bg-light-neutral p-10 animate-pulse rounded-xl">
                <div class="flex flex-col md:flex-row gap-0 md:gap-2 items-start md:items-center">
                    <span class="bg-skeleton animate-pulse title-lg w-fit rounded-sm">Loading Position</span>
                    <span class="bg-skeleton animate-pulse w-fit mb-2 rounded-sm">A.R.M XX/XX</span>
                </div>
                <div class="mb-3">
                    <CareersSkeleton careers={2}/>
                </div>
                <div class="flex flex-col md:flex-row gap-5 md:gap-10 mb-3">
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-row gap-2">
                            <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
                            <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading modality...</span>
                        </div>
                        <div class="flex flex-row gap-2">
                            <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
                            <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading workplace...</span>
                        </div>

                        <div class="flex flex-row gap-2">
                            <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
                            <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading payment...</span>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <div class="flex flex-row gap-2">
                            <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
                            <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm"> Loading interns</span>
                        </div>

                        <div class="flex flex-row gap-2">
                            <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
                            <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm"> Loading company name</span>
                        </div>
                    </div>  
                </div>
                <div class="flex flex-row items-center gap-2">
                    <span class="bg-skeleton animate-pulse rounded-sm">Loading publishing time...</span>
                </div>
            </div>
            
        
            <div class="flex flex-col gap-10 bg-light-neutral p-10 animate-pulse rounded-xl">
                <div>
                    <div class="flex flex-col">
                        <span class="title-md bg-skeleton animate-pulse w-fit rounded-sm">Requisitos</span>
                        <span class="bg-skeleton animate-pulse h-20 rounded-sm">Loading requirements </span>
                    </div>
                    <br>
                    <div class="flex flex-col">
                        <span class="title-sm bg-skeleton animate-pulse w-fit rounded-sm">Conocimientos necesarios</span>
                        <span class="bg-skeleton animate-pulse h-20 rounded-sm">Loading knowledge</span>
                    </div>
                </div>  
                <div class="flex flex-col gap-3">
                    <span class="title-md bg-skeleton animate-pulse w-fit rounded-sm">Horarios</span>
                    <span class="bg-skeleton animate-pulse rounded-sm">Entrevista </span>
                    <span class="bg-skeleton animate-pulse rounded-sm">Jornada </span>
                </div>
                <div class="flex flex-col gap-3">
                    <span class="title-md bg-skeleton animate-pulse w-fit rounded-sm">Observaciones</span>
                    <span class="bg-skeleton animate-pulse rounded-sm">Beneficios: Loading</span>
                    <span class="bg-skeleton animate-pulse rounded-sm">Observaciones: Loading </span>
                    <span class="bg-skeleton animate-pulse rounded-sm">Referente RRHH: Loading</span>
                </div>
                <div>
                    <div class="flex flex-row gap-2 mb-10">
                        <div class="bg-skeleton animate-pulse px-6 py-2 rounded-full">
                            Loading
                        </div>
                        <div class="bg-skeleton animate-pulse px-6 py-2 rounded-full"  >
                            Loading
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <span class="bg-skeleton animate-pulse">Mail: Loading</span>
                        <span class="bg-skeleton animate-pulse">Link: Loading</span>
                    </div>
                </div>
            </div>
         
    </div>
    <div class="flex flex-col gap-5">
        <div class="w-full md:w-fit h-fit p-10 bg-light-neutral animate-pulse rounded-xl">
                <span class="text-lg font-bold w-full  bg-skeleton animate-pulse rounded-sm">Loading sharings</span>
                <div class="flex flex-row justify-start md:justify-center mt-5 gap-6">
                    <span class="bg-skeleton animate-pulse w-8 h-8 transition-all rounded-full">...</span>
                    <span class="bg-skeleton animate-pulse w-8 h-8 transition-all rounded-full" >...</span>
                    <span class="bg-skeleton animate-pulse w-8 h-8 transition-all rounded-full">...</span>
                    <span class="bg-skeleton animate-pulse w-8 h-8 transition-all rounded-full">...</span>
                </div>
            </div>
            <div class="flex flex-col gap-5 w-full md:w-fit h-fit p-10 bg-light-neutral animate-pulse rounded-xl">
                <div class="flex flex-row gap-2">
                    <span class="text-lg font-bold h-6  bg-skeleton animate-pulse rounded-sm">Loading alerts </span>
                    <span class="text-lg font-bold w-12.5 h-6.25 bg-skeleton animate-pulse rounded-full"></span>
                </div>
                <span class="text-lg font-bold w-full h-4 bg-skeleton animate-pulse rounded-sm"></span>
            </div>
    </div>
</section>
