---
import CareersSkeleton from "../career/careersSkeleton.astro";
---

<div class="flex flex-col gap-5 text-transparent">
  <div class="flex flex-col gap-5 bg-light-neutral animate-pulse p-5 w-full h-fit rounded-xl">
    <div class="flex flex-row justify-between mb-4">
      <div class="bg-skeleton animate-pulse rounded-md py-1">Loading position...Loading position...</div>
      <div class="bg-skeleton animate-pulse rounded-full w-9 md:w-30"></div>
    </div>
    <div class="hidden md:block w-full mb-4">
      <div class="bg-skeleton animate-pulse rounded-md py-0.5 h-8">Loading requirements...</div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-row gap-2">
        <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
        <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading modality...</span>
      </div>
      <div class="flex flex-row gap-2">
        <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
        <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading workplace...</span>
      </div>
    </div>
    <div class="h-14 pt-5 flex flex-row gap-10 items-center justify-between">
      <span class="h-4.25 text-sm bg-skeleton animate-pulse w-fit rounded-sm">Loading time</span>
      <CareersSkeleton careers={2} />
    </div>
  </div>
  <div class="flex flex-col gap-5 bg-light-neutral animate-pulse p-5 w-full h-fit rounded-xl">
    <div class="flex flex-row justify-between mb-4">
      <div class="bg-skeleton animate-pulse rounded-md py-1">Loading position...Loading position...</div>
      <div class="bg-skeleton animate-pulse rounded-full w-9 md:w-30"></div>
    </div>
    <div class="hidden md:block w-full mb-4">
      <div class="bg-skeleton animate-pulse rounded-md py-0.5 h-8">Loading requirements...</div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-row gap-2">
        <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
        <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading modality...</span>
      </div>
      <div class="flex flex-row gap-2">
        <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
        <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading workplace...</span>
      </div>
    </div>
    <div class="h-14 pt-5 flex flex-row gap-10 items-center justify-between">
      <span class="h-4.25 text-sm bg-skeleton animate-pulse w-fit rounded-sm">Loading time</span>
      <CareersSkeleton careers={2} />
    </div>
  </div>
  <div class="flex flex-col gap-5 bg-light-neutral animate-pulse p-5 w-full h-fit rounded-xl">
    <div class="flex flex-row justify-between mb-4">
      <div class="bg-skeleton animate-pulse rounded-md py-1">Loading position...Loading position...</div>
      <div class="bg-skeleton animate-pulse rounded-full w-9 md:w-30"></div>
    </div>
    <div class="hidden md:block w-full mb-4">
      <div class="bg-skeleton animate-pulse rounded-md py-0.5 h-8">Loading requirements...</div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-row gap-2">
        <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
        <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading modality...</span>
      </div>
      <div class="flex flex-row gap-2">
        <span class="bg-skeleton animate-pulse w-6 rounded-sm">i</span>
        <span class="bg-skeleton animate-pulse flex flex-row gap-2 rounded-sm">Loading workplace...</span>
      </div>
    </div>
    <div class="h-14 pt-5 flex flex-row gap-10 items-center justify-between">
      <span class="h-4.25 text-sm bg-skeleton animate-pulse w-fit rounded-sm">Loading time</span>
      <CareersSkeleton careers={2} />
    </div>
  </div>
</div>
