---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css"

type Props = {
	title?: string
}

const {title = "UTN Rep | Pasantias"} = Astro.props as Props
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>