---
import TermsLayout from "./termsLayout.astro";
---

<TermsLayout>
  <div class="bg-light-neutral p-10 rounded-xl">
    <h1 class="title-lg">Términos y Condiciones de Uso</h1>
    <p class="text-text/75">Última actualización: 30 Abril 2026</p>
    <div>
      <h2 class="title-sm">Introducción</h2>

      <p class="text-text max-w-prose">
        Le damos la bienvenida a "BuscoPasantías". Las presentes condiciones
        rigen el uso de la aplicación anunciada, una plataforma diseñada para
        facilitar la búsqueda y gestión de oportunidades de pasantías, y
        constituyen un acuerdo entre usted y la entidad y establecen derechos de
        terceros y propiedad de la información.
      </p>
    </div>
  </div>
</TermsLayout>
